<div class="details subcluster-details">
  <div class="heading">
    <span>Subclusters</span> {{ help_tooltip(tooltip, "subcluster-body") }}
  </div>
  {% if enum_hits %}
    {% for i, hit in enum_hits %}
    <div class="subcluster-prediction">
      <div class="subcluster-header">
        <span class="subcluster-rule-name">{{ hit.rule_name }}</span>
        <span class="subcluster-compound-name">{{ hit.compound.name }}</span>
        <span class="subcluster-compound-class"><i>{{ hit.compound.classification | join(", ") }}</i></span>
      </div>
      {{ collapser_start(target="subcluster_prediction-%s" % i, level="none") }}
        <div class="subcluster-collapser-inner">
          <canvas id="smiles-canvas-{{ anchor }}-sc{{ i }}" class="smiles-canvas" data-smiles="{{ hit.compound.smiles }}" width="100" height="100"></canvas>
          <div class="subcluster-detection-details">
            <a class="cluster-rules-header" id="subcluster-{{ anchor }}-sc{{ i }}-rules-header" href="#">Show pHMM detection rule</a>
            <div class="cluster-rules" id="subcluster-{{ anchor }}-sc{{ i }}-rules">{{ hit.conditions_str }}</div>
            <table class="subcluster-domain-table">
              <thead><tr><th>Profile</th><th>Description</th><th>CDS</th></tr></thead>
              <tbody>
                {% for profile_name, dhs in hit.domain_hits | groupby("profile.name") %}
                <tr>
                  <td><code>{{ dhs[0].profile.name }}</code></td>
                  <td>{{ dhs[0].profile.description or "—" }}{% if dhs[0].profile.accession %} ({{ dhs[0].profile.accession }}){% endif %}</td>
                  <td>{% for dh in dhs %}{{ cds_selector_span(dh.cds_name) }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {{ collapser_end() }}
      <div id="subclusters-svg-{{ anchor }}-sc{{ i }}" class="subclusters-svg"></div>
    </div>
    {% endfor %}
  {% else %}
    <span class="subcluster-no-hits">No subcluster hits in this region.</span>
  {% endif %}
</div>